/* ==================== Cart =================== */
/* Cart Heading */
h1 {
    padding: 30px;
    text-align: center;
}

.cart-container {
    height: auto;
    display: flex;
    flex-direction: row;
    margin: 0 6%;
    padding: 20px;
    background-color: #fff;
    border-radius: 14px;
    box-shadow: 4px 8px 18px 8px rgba(0, 0, 0, 0.1);
    flex-wrap: wrap;
    margin-top: -0.4%;
    transform: scale(0.9);
}

.cart-content {
    display: flex;
    flex-direction: row;
    flex: 1;
    width: 100%;
}

.cart-items {
    margin: 2%;
    display: flex;
    flex-direction: column;
    flex: 2;
    border-radius: 40px;
    margin-right: 30px;
    overflow-y: auto;
    max-height: 44rem;
}

.cart-items::-webkit-scrollbar {
    display: none;
}

.cart-item {
    display: flex;
    align-items: center;
    padding: 15px;
    margin: 10px 0;
    background-color: #f9f9f9;
    border-radius: 40px;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.cart-item img {
    width: 25%;
    height: auto;
    margin-right: 15px;
    border-radius: 5px;
}

.cart-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.4em;
}

.cart-details h5 {
    font-weight: 400;
}

.quantity-controls {
    display: flex;
    gap: 0.4em;
}

.quantity-controls {
    margin-top: 5px;
    border: 1px solid rgb(24, 182, 210);
    width: 76px;
    border-radius: 50px;
    transform: scaleY(0.93);
}

.quantity-controls button {
    border: none;
    padding: 2px 9px;
    border-radius: 50%;
    background-color: #37b1e9;
    color: rgb(0, 0, 0);
    font-size: large;
    transition: background-color 0.3s;
}

.quantity-controls button:hover {
    background-color: #1da1f2;
}

.del {
    margin-top: 20px;
    position: relative;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.del div {
    width: 100%;
    font-size: 23px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .5),
        -4px -4px 6px 0 rgba(116, 125, 136, .5),
        inset -4px -4px 6px 0 rgba(255, 255, 255, .2),
        inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    letter-spacing: 1px;
    color: #ff0000;
    z-index: 1;
    transition: .6s;
}

.del:hover div {
    transform: scale(1.1);
    color: #fff;
    background: #ff0000;
}

.original-price {
    text-decoration: line-through;
    color: #888;
    margin-right: 6px;
    font-size: 13px;
}

.discounted-price {
    color: #f12525;
    font-weight: bold;
}






/* ==================== Payment Details =================== */
.price-details {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    height: auto;
    padding: 15px;
    background-color: #e7f3fe;
    border-radius: 25px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
    flex: 1;
    transform: scale(0.95);
}

.price-item {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
}

.total {
    font-weight: bold;
    font-size: 1.2em;
    color: #2c3e50;
}

.delivery-info span,
.price-item h4 {
    color: green;
    font-weight: 700;
}

/* resposive for cart */
@media (max-width: 480px) {
    .delivery-info p {
        font-size: 10px;
    }
}

@media (max-width: 970px) {
    .cart-container {
        flex-direction: column;
    }

    .quantity-controls {
        width: 73px;
    }

    .cart-content {
        flex-direction: column;
        font-size: 13px;
    }

    .cart-items {
        margin-right: 0;
    }

    .cart-item {
        flex-direction: row;
        align-items: center;
    }

    .cart-item img {
        margin-bottom: 10px;
    }

    .quantity-controls {
        margin-top: 10px;
    }

    .price-details {
        margin-top: 20px;
    }
}

/* Shipping Deatils form*/
.shippingDetails {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 2cap;
    padding: 20px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
    transform: scale(0.95);
}

h2 {
    font-size: 18px;
    margin-bottom: 15px;
    color: #4a4a4a;
}

.shippingDetails button {
    margin-top: 20px;
    background-color: #28a745;
    border: none;
    width: 80%;
    padding: 15px;
    border-radius: 35px;
    font-size: large;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.shippingDetails button:hover {
    background-color: #3eba5b;
}

.address form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.shippingDetails h2,
.price-details h2 {
    font-size: 25px;
}

.statePin {
    display: flex;
    gap: 1em;
}

.address input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #d0d0d0;
    border-radius: 8px;
    font-size: 14px;
    background-color: #fff;
    transition: border-color 0.3s ease-in-out;
}

.address input:focus {
    border-color: #1da1f2;
    outline: none;
    box-shadow: 0 0 8px rgba(29, 161, 242, 0.2);
}

.price-item {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    font-size: 16px;
}

.total {
    font-weight: bold;
    font-size: 1.3em;
    color: #2c3e50;
}

.delivery-info span,
.price-item h4 {
    color: #28a745;
    font-weight: 700;
}

/* Responsive for cart and shipping*/
@media (max-width: 970px) {
    .cart-container {
        flex-direction: column;
    }

    .shippingDetails h2,
    .price-details h2 {
        font-size: 22px;
    }

    .cart-content {
        flex-direction: column;
    }

    .cart-items {
        margin-right: 0;
    }

    .cart-item {
        flex-direction: row;
        align-items: center;
    }

    .cart-item img {
        margin-bottom: 10px;
    }
}




/* =============== Modal =============== */
.custom-overlay {
    background: rgba(140, 138, 138, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.custom-modal {
    background: #f6efef;
    background: linear-gradient(135deg, #46413b, #747176);
    border-radius: 20px;
    color: white;
    padding: 30px;
    width: 400px;
    display: flex;
    justify-content: center;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.payment-container h2 {
    text-align: center;
    color: #ffffff;
    font-size: 22px;
}

.payment-container p {
    font-size: 18px;
    margin-bottom: 50px;
    text-align: center;
}

.payment-container span {
    color: rgb(2, 229, 10);
    font-weight: 700;
}

#paymentHead {
    color: rgb(49, 172, 147);
}

.payment-container button {
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 18px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: relative;
    background: linear-gradient(135deg, #ff8a00, #e52e71);
    left: 31%;
    color: white;
    border-radius: 20px;
    border: none;
    font-weight: 600;
}

.proceed-btn {
    background: linear-gradient(135deg, #ff8a00, #e52e71);
    color: white;
    font-size: 16px;
    border-radius: 25px;
    padding: 12px 30px;
}

.proceed-btn:hover,
.payment-container button:hover {
    background: linear-gradient(135deg, #e52e71, #ff8a00);
}






/* ================== Payment Options ================ */
.payment-options label {
    display: block;
    margin: 10px 0;
}

.payment-options input {
    margin-right: 10px;
}

.upi {
    display: flex;
    gap: 0.26em;
}

.payIcons {
    font-size: 35px;
    margin-left: 10px;
    margin-top: -6px;
    color: white;
}

.payIcons:nth-child(3) {
    font-size: 26px;
    margin-left: 12px;
    margin-top: 0.1px;
}

.payIcons:nth-child(4) {
    font-size: 18px;
    margin-left: 15px;
    margin-top: 1.4px;
}

.debitcard {
    margin-left: 10px;
    padding-top: 2.5px;
}

h3 {
    columns: white;
}

.pay-now-btn:hover {
    background-color: #45a049;
}

.loading-container,
.success-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loading-icon {
    font-size: 50px;
    color: #ff8a00;
    animation: spin 1s linear infinite;
    margin-bottom: 15px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loading-text {
    font-size: 14px;
    color: #ffffff;
}

.success-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.success-icon {
    font-size: 80px;
    color: #4caf50;
    margin-bottom: 15px;
}

.success-text {
    font-size: 16px;
    color: #ffffff;
}

.redirect-text {
    font-size: 14px;
    color: #888;
}