/*==================== NavBar ==================*/
.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0px 1.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  opacity: 98%;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 2;
  border-bottom: 3px solid silver;
  background-color: #242425;
}

.navbar-logo img {
  width: 150px;
  margin-top: 5px;
  height: auto;
  margin-right: 30px;
}

.navbar-icons {
  display: flex;
  gap: 3em;
  align-items: center;
  margin-top: -5px;
  padding-right: 10px;
}

.navbar-iconCart:hover,
.navbar-icon:hover,
.navbar-search i:hover {
  color: #66d1b2;
  transition: 0.3s;
}

.navbar-icon {
  font-size: 28px;
  cursor: pointer;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar-iconCart {
  cursor: pointer;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.3em;
}

.navbar-iconCart span {
  background-color: #ff4d4d;
  padding: 4px 9px;
  border-radius: 50%;
  color: white;
  font-size: 14px;
  font-weight: 600;
}

.navbar-iconCart i {
  font-size: 28px;
}

.navbar-icons label {
  font-size: 14px;
}

.cartlogoname {
  display: flex;
  flex-direction: column;
}

.navbar-icon label {
  font-size: small;
}

.navbar-icon {
  position: relative;
}

.orders {
  margin-top: 1px;
  display: flex;
  flex-direction: column;
}

.orders .orderIcon {
  font-size: 28px;
  margin-bottom: -4px;
}

.orders label {
  font-size: 13px;
}

/* searchbar */
.navbar-search {
  width: 80%;
  margin-top: 0.5rem;
}

.navbar-search i {
  position: absolute;
  margin-left: -39px;
  margin-top: 8px;
  font-size: 25px;
  color: white;
  font-weight: 500;
}

.navbar-search input {
  color: white;
  width: 60%;
  padding: 0.6rem 1rem;
  border: 2px solid hsl(0, 6%, 50%);
  border-radius: 45px;
  font-size: 16px;
  background-color: #242425;
}

.navbar-search input::placeholder {
  color: rgb(255, 255, 255);
  font-size: 14px;
}

/* .wishListIcon i{
  color: rgb(255, 255, 255);
  margin-top: -4px;
  font-size: 30px;

} */

.suggestions-list {
  position: absolute;
  background-color: #e9edf0;
  border: 1px solid #ddd;
  border-radius: 20px;
  width: 22.6%;
  width: 325px;
  max-height: 200px;
  margin-top: 2px;
  overflow-y: auto;
  color: #333;
  z-index: 1;
}

.suggestions-list::-webkit-scrollbar {
  display: none;
}

.suggestions-list li {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid silver;
}

.suggestions-list li:hover {
  background-color: #dde1e7;
}

/* profile dropdown for logout */
.dropdown-menu {
  display: flex;
  flex-direction: column;
  gap: 6px;
  position: absolute;
  top: 110%;
}

.dropdown-menu .orders1 {
  color: rgb(248, 248, 248);
}

.dropdown-menu button {
  background-color: #ff4d4d;
  color: white;
  padding: 5px 15px;
  cursor: pointer;
  border-radius: 8px;
  font-size: large;
  border: none;
}

.logout-button:hover {
  background-color: #ff1a1a;
  border: none;
}


/* resposive for NavBar */

@media (max-width:375px) {
  .navbar-icons {
    gap: 2.6em;
  }
}

@media (max-width: 768px) {

  .navbar-logo {
    margin-top: 2px;
    margin-left: -40px;
    transform: scale(0.8);
  }

  .orders1 {
    display: none;
  }

  .suggestions-list {
    position: absolute;
    opacity: 1;
  }

  .navbar {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .navbar-iconCart i,
  .navbar-icon i {
    font-size: 20px;

  }

  .navbar-icons label {
    font-size: 11px;
  }


  .navbar {
    gap: -1em;
  }

  .navbar-search {
    display: flex;
    margin: 0px 15%;
    margin-top: -18px;
    margin-bottom: 20px;
    transition: 0.4s;
  }

  .navbar-search input {
    text-align: left;
    width: 90%;
  }

  .navbar-search input::placeholder{
    font-size: 13px;
  }

  .suggestions-list {
    width: 58%;
    margin-top: 40px;
    margin-left: -4px;
  }

  .dropdown-menu {
    width: 80%;
    margin-top: 3px;
  }

  .dropdown-menu button {
    padding: 2px 10px;
  }

  .dropdown-menu i {
    text-align: center;
    margin-left: -8px
  }
}


@media (min-width:770px) {
  .dropdown-menu .orders {
    display: none;
  }
}


@media (min-width: 769px) {
  .navbar {
    flex-direction: row;
    justify-content: space-between;
  }

  .navbar-search {
    margin-top: 0;
    width: 370px;
    min-width: 370px;
    order: 2;
  }

  .navbar-search i {
    top: 1.6em;
    left: 17.2em;
  }


  .navbar-icons {
    margin-left: auto;
    order: 3;
  }

  .suggestions-list {
    margin-top: 2px;
    margin-left: -25px;
    width: 270px;
  }
}





/*==================== Caption ==================*/
.caption {
  text-align: center;
  padding: 10px 15px;
  padding-top: 20px;
  letter-spacing: 2px;
  font-size: 16px;
}





/*==================== HeroSection ==================*/
.heroMerge {
  display: flex;
}

.hero-section {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.hero-section .carousel img {
  height: 490px;
  object-fit: cover;
  border-radius: 20px;
  background-position: center;
}

.carousel .slide {
  opacity: 0;
  transform: scale(0.95);
  /* Slight zoom out effect */
  transition: opacity 0.7s ease-in, transform 1.2s ease-in-out;
}

.carousel .slide.selected {
  opacity: 1;
  transform: scale(1);
  /* Zoom in to normal size */
}

/* responsive for Carousel */
@media (max-width: 768px) {
  .hero-section .carousel img {
    height: 300px;
    object-fit: fit;
  }

  .caption {
    font-size: 14px;
  }
}

@media (max-width: 380px) {
  .caption {
    font-size: 11.5px;
    padding: 10px;
    margin-bottom: -10px;
  }

  .hero-section .carousel img{
    height: 230px;
  }
  .navbar{
    height: 174px;
  }
}




/*==================== Category ==================*/
.category-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  margin: 20px;
}

.pet {
  display: flex;
  margin-top: -23px;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
  gap: 1em;
  padding: 23px;
}

.category-buttons {
  display: flex;
  justify-content: center;
  gap: 2.2rem;
  padding-bottom: 20px;
}

.category-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.category-btn img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid silver;
  padding: 5px;
}

.pet:hover {
  transform: scale(1.2);
  transition: 0.5s ease-in-out;

}

.pet label {
  margin-top: -10px;
}

/* Responsive for category */
@media (max-width: 380px) {
  .category-container{
    margin-top: 10px;
  }

  .category-btn{
    transform: scale(0.8);
  }

  .category-buttons{
    gap: 1px;
    margin-bottom: -40px;
  }
}





/*==================== Products ==================*/
.products-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
  padding: 0 20px;
  justify-items: center;
}

.card {
  width: 100%;
  height: 80%;
  max-width: 300px;
  background: #f5f5f5;
  padding: 30px;
  border-radius: 20px;
  overflow: hidden;
  transition: all 0.3s;
  position: relative;
  box-shadow: 20px 20px 60px rgba(0, 0, 0, 0.1),
    -20px -20px 60px rgba(190, 190, 190, 0.8);
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  text-align: center;
}

.card-image {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  padding: 0 15px;
  transition: all 0.3s;
}

.card-image img {
  width: 100%;
  max-width: 180px;
  object-fit: contain;
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 0.9em;
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 6px;
  color: #4d4d4d;
  font-weight: 700;
}

.prices {
  display: flex;
  gap: 8px;
  padding: 4px 0;
  align-items: center;
  justify-content: center;
}

.price {
  font-size: 1.1em;
  font-weight: 700;
  color: #333;
}

.old-price {
  font-size: 0.9em;
  text-decoration: line-through;
  color: #adadad;
}

.card-btn {
  margin-top: 20px;
  margin-bottom: -18px;
  width: 80%;
  height: 45px;
  background-color: #181818;
  border: none;
  border-radius: 30px;
  color: white;
  cursor: pointer;
  font-weight: 600;
  font-size: 15px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 0.4em;
}

.card-btn i {
  font-size: 23px;
}

.card:hover .card-image img {
  transform: scale(1.1);
}

.card-btn:hover {
  background-color: rgb(72, 72, 72);
  color: white;
  transition: 0.3s;
}

.card:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  transform: translateY(0);
}

.card:hover {
  background-color: #ffffff;
  transform: scaleY(0.85);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
  height: 100%;
}

.tag {
  position: absolute;
  background-color: #000;
  color: #fff;
  left: 12px;
  top: 12px;
  padding: 8px 11px;
  border-radius: 35px;
  font-size: 0.75em;
  font-weight: 600;
}

/* responsive for products cards */
@media (max-width:449px) {
  .card-btn {
    width: 100%;
    font-size: 11px;
  }

  .card {
    font-size: 13px;
    height: 73%;
  }
}

@media (min-width:450px) and (max-width:550px) {
  .card-btn {
    width: 78%;
    font-size: 14px;
  }

  .card {
    font-size: 13px;
    height: 73%;
  }
}

@media (max-width: 768px) {
  .products-container {
    grid-template-columns: repeat(2, 1fr);
    /* 2 columns for mobile */
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .products-container {
    grid-template-columns: repeat(3, 1fr);
    /* 3 columns for laptops */
  }
}

@media (min-width: 1025px) {
  .products-container {
    grid-template-columns: repeat(4, 1fr);
    /* 4 columns for larger screens */
  }
}

@media (min-width: 1255px) {
  .card-btn {
    width: 60%;
  }
}


/*==================== Footer ==================*/
.footer-container {
  background-color: #242425;
  padding: 18px 10px;
  color: #5c5a5a;
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1250px;
}

.footer-section {
  min-width: 250px;
  margin: 20px;
}

.footer-section h2 {
  font-size: 24px;
  color: #66d1b2;
  margin-bottom: 20px;
}

.footer-section h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #66d1b2;
}

.about span {
  color: #66d1b2;
}

.footer-section p {
  font-size: 16px;
  line-height: 1.6;
  color: #d9d3d3;
}

.social-icons {
  display: flex;
  gap: 15px;
}

.social-icons a {
  font-size: 18px;
  color: #ffffff;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #66d1b2;
}

/* Responsive for Footer */
@media (max-width: 950px) {
  .footer-container {
    padding: 10px 8px;
  }

  .footer-content {
    flex-direction: column;
    text-align: center;
  }

  .social-icons {
    justify-content: center;
  }

  .footer-section {
    margin-bottom: 20px;
  }
}