/* NavBar */
.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0px 1.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    opacity: 97%;
    justify-content: space-between;
    position: sticky;
    top: 0;
    /* background-color: white; */
    z-index: 2;
    border-bottom: 3px solid silver;
    background-color: #242425;
  }
  
  .navbar-logo img {
    width: 150px;
    height: auto;
  }
  
  .navbar-icons {
    display: flex;
    gap: 3em;
    align-items: center;
    margin-top: -5px;
    padding-right: 10px;
  }
  
  .navbar-icon {
    font-size: 28px;
    cursor: pointer;
    color: #333;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .navbar-iconCart {
    cursor: pointer;
    color: #333;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.3em;
  }

  .navbar-iconCart span{
    background-color: #ff4d4d;
    padding:  4px 9px;
    border-radius: 50%;
    color: white;
    font-size: 14px;
    font-weight: 600;
  }

  .navbar-iconCart i{
    font-size: 28px;
  }

  .navbar-icons label{
    font-size: 14px;
  }

  .cartlogoname{
    display: flex;
    flex-direction: column;
    
  }
  
  .navbar-icon label {
    font-size: small;
  }
  
  .navbar-search {
    width: 90%;
    margin-top: 0.5rem;
  }
  
  .navbar-search input {
    color: white;
    width: 60%;
    padding: 0.6rem 1rem;
    border: 2px solid hsl(0, 6%, 50%);
    border-radius: 45px;
    font-size: 16px;
    background-color: #242425;
  }

  .navbar-search input::placeholder{
    color: rgb(255, 255, 255);
  }

  .suggestions-list {
    position: absolute;
    background-color: rgb(202, 185, 179);
    opacity: 80%;
    border: 1px solid #ddd;
    border-radius: 20px;
    width: 28.6%;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1;
  }
  
  .suggestions-list li {
    padding: 10px;
    cursor: pointer;
  }
  
  .suggestions-list li:hover {
    background-color: #f0f0f0;
  }

  @media (max-width:375px){
    .navbar-icons {
      gap: 1.2em;
    }
  }
  
  @media (max-width: 768px) {
    /* Mobile view */
    .navbar-logo{
        margin-left: -17px;
    }

    .suggestions-list{
        position: absolute;
    }

    .navbar{
        flex-direction: row;
        flex-wrap: wrap;
    }

    .navbar-search{
        display: flex;
        margin: 0px 15%;
        margin-top: -8px;
        margin-bottom: 20px;
        transition: 0.4s;
    }

    .navbar-search input{
        text-align: center;
        width: 100%;
    }
    .suggestions-list {
        width: 60.7%;
        margin-top: 40px;
    }
  }
  
  @media (min-width: 769px) {
    /* Larger screen view */
    .navbar {
      flex-direction: row;
      justify-content: space-between;
    }
  
    .navbar-search {
      margin-top: 0;
      width: 50%;
      order: 2;
    }
  
    .navbar-icons {
      margin-left: auto;
      order: 3;
    }
  }

  .navbar-icon {
    position: relative;
  }
  
  .dropdown-menu {
    display: flex;
    position: absolute;
    top: 104%;
  }

  .dropdown-menu button{
    background-color: #ff4d4d;
    color: white;
    padding: 5px 15px;
    cursor: pointer;
    border-radius: 8px;
    font-size: large;
    border: none;
  }
  
  .logout-button:hover {
    background-color: #ff1a1a;
    border: none;
  }


  .caption{
    text-align: center;
    padding: 10px 15px;
    padding-top: 20px;
    letter-spacing: 2px;
    font-size: 16px;
  }

  /* Hero section */

  .heroMerge{
    display: flex;
  }

.hero-section {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
  }
  
  .hero-section .carousel img {
    height: 500px;
    object-fit: cover;
    border-radius: 20px;
    background-position: center;
  }

  .carousel .slide {
    opacity: 0;
    transform: scale(0.95); /* Slight zoom out effect */
    transition: opacity 0.7s ease-in, transform 1.2s ease-in-out; 
  }
  
  .carousel .slide.selected {
    opacity: 1;
    transform: scale(1); /* Zoom in to normal size */
  }
  
@media (max-width: 768px) {      
      .hero-section .carousel img {
        height: 400px;
        object-fit:fit;
      }

      .caption{
        font-size: 14px;
      }
}



/* Category styles */
.category-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    margin: 20px;
  }
  
  .pet{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
    gap: 1em;
    padding: 20px;
  }
  
  .category-buttons {
    display: flex;
    justify-content: center;
    gap: 3rem;
  }
  
  .category-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  
  .category-btn img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid silver;
    padding: 5px;
  }

  .pet:hover{
    transform: scale(1.2);
    transition: 0.5s ease-in-out;
    
  }

  .pet label{
    margin-top: -10px;
  }

  .products-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns by default for larger screens */
    gap: 1em; 
    padding: 0 20px;
    justify-items: center;
}

.card {
    width: 100%;
    height: 80%;
    max-width: 300px;
    background: #f5f5f5;
    padding: 30px;
    border-radius: 20px;
    overflow: hidden;
    transition: all 0.3s;
    position: relative;
    box-shadow: 20px 20px 60px rgba(0, 0, 0, 0.1),
                -20px -20px 60px rgba(190, 190, 190, 0.8);
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    text-align: center;
}

.card-image {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    padding: 0 15px;
    transition: all 0.3s;
}

.card-image img {
    width: 100%;
    max-width: 180px;
    object-fit: contain;
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: 0.9em;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 6px;
    color: #4d4d4d;
    font-weight: 700;
}

.prices {
    display: flex;
    gap: 8px;
    padding: 4px 0;
    align-items: center;
    justify-content: center;
}

.price {
    font-size: 1.1em;
    font-weight: 700;
    color: #333;
}

.old-price {
    font-size: 0.9em;
    text-decoration: line-through;
    color: #adadad;
}

.card-btn {
    margin-top: 20px;
    margin-bottom: -18px;
    width: 80%;
    height: 45px;
    background-color: #181818;
    border: none;
    border-radius: 30px;
    color: white;
    cursor: pointer;
    font-weight: 600;
    font-size: 15px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 0.4em;
}

.card-btn i{
  font-size: 23px;
}



.card:hover .card-image img {
    transform: scale(1.1);
}

.card-btn:hover{
    background-color: rgb(72, 72, 72);
    color: white;
    transition: 0.3s;
}

.card:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    transform: translateY(0);
}

.card:hover {
    background-color: #ffffff;
    transform: scaleY(0.85);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
    height: 100%;
}

.tag {
    position: absolute;
    background-color: #000;
    color: #fff;
    left: 12px;
    top: 12px;
    padding: 8px 11px;
    border-radius: 35px;
    font-size: 0.75em;
    font-weight: 600;
}

@media (max-width:449px){
  .card-btn {
    width: 100%;
    font-size: 11px;
  }

  .card{
    font-size: 13px;
    height: 73%;
  }
}


@media (min-width:450px) and (max-width:550px){
  .card-btn {
    width: 78%;
    font-size: 14px;
  }

  .card{
    font-size: 13px;
    height: 73%;
  }
}

@media (max-width: 768px) {
    .products-container {
        grid-template-columns: repeat(2, 1fr); /* 2 columns for mobile */
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .products-container {
        grid-template-columns: repeat(3, 1fr); /* 3 columns for laptops */
    }
}

@media (min-width: 1025px) {
    .products-container {
        grid-template-columns: repeat(4, 1fr); /* 4 columns for larger screens */
    }
}
@media (min-width: 1255px) {
  .card-btn{
    width: 60%;
  }
}
