.form-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end; 
    width: 100vw;
    height: 100vh;
    background-image: url('/Users/hishamc/Downloads/Bridgeon/React/project-pet/src/components/authentication/assets/authBack.jpg');
    background-size: cover;
    background-position: center;
  }


  .logo img{
    z-index: 2;
    width: 200px;
    height: 150px;
    margin: -20px;
  }

  
  /* Pseudo-element for background blur */
  .form-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: inherit; 
    background-size: inherit;
    background-position: inherit;
    filter: blur(0px); 
    z-index: 1; 
  }
  
  .form {
    transform: scale(95%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 22px;
    margin-right: 90px;
    padding: 50px 0px;
    border-radius: 25px;
    max-width: 400px;
    width: 100%;
    border: 1px solid rgb(233, 227, 227);
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
    background-color: rgba(102,209,178,0.8);
    z-index: 2;
  }
  
  /* Input Fields */
  .form input {
    padding: 15px;
    width: 60%;
    border-radius: 15px;
    border: 1px solid rgba(123, 82, 59, 255);
    font-size: 15px;
    background-color: inherit;
  }
  
  .form input::placeholder {
    color: rgb(65, 64, 62);
    font-size: large;
  }

  .form .error-message{
    color: rgb(197, 9, 9);
    font-size: 14px;
    margin-top: -15px;

  }

  .form input:focus{
    outline: none;
  }

  /* From Uiverse.io by alexroumi */ 
.form button {
    padding: 15px 25px;
    border: unset;
    border-radius: 15px;
    color: #212121;
    z-index: 1;
    background: #d5d1d1;
    position: relative;
    font-weight: 1000;
    font-size: 18px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    /* transition: all 2s; */  
    overflow: hidden;
   }
   
   .form button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    /* background-color: #212121; */
    background-image: url('src/assets/logo.png');
    background-size: cover;
    background-position: center;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: 0.4s
   }
   
   button:hover {
    /* color: #e8e8e8; */
    color: transparent;
   }
   
   button:hover::before {
    width: 100%;
   }
  
  .link{
    text-decoration: none;
    color: rgb(85, 52, 12);
    font-weight: 500;
    font-size: large;
  }

  .link:hover{
    font-weight: 700;
    transition: 0.2s;
  }

  .profile-dropdown {
    position: absolute;
    top: 50px;
    right: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
    border-radius: 4px;
  }
  
  .profile-dropdown button {
    background: none;
    border: none;
    color: #333;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }
  
  .profile-dropdown button:hover {
    background-color: #f0f0f0;
  }

  
  /* Responsive Design */
  @media (max-width: 768px) {
    .form-container {
      justify-content: center; 
    }
  
    .form-container::before {
      filter: blur(5px); 
    }
  
    .form {
      width: 90%;
      margin: 0;
      padding: 20px;
      transition: ease;
      transition-duration: 0.2s;
    }
  }
